/*   loader */
/*.overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #ffdd;
	z-index: 1;
	opacity: 0.8;
}.loader{
	width: 30%;
	height: 30%;
	border-radius: 50%;
	border:15px solid #ff0000;
    position:relative;
    margin: 0 auto;
    top:30%;
    animation:loader .75s linear infinite;
}@keyframes loader{
	30%{
		opacity: 01;
	}50% {
		transform: rotate(360deg);
	}
}
.loader:after{
	content:"";
	width: 0%;
	height: 0%;
	background: #ff0000;
	position:absolute;
	border-radius: .50%
	top:-50px;
	left: 15px;
}.loader:before{
	content:"";
	width: 30%;
	height: 30%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ff0000;
    position: absolute;
    transform: rotate(-35deg);
    top: -50px;
    left: 50px;
}*/
.overlay{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #ffdd;
	z-index: 1;
	opacity: 0.8;
}
.loader {
width: 30%;
	height: 30%;
	border-radius: 50%;
	border:15px solid #ff0000;
    position:relative;
    margin: 0 auto;
    top:30%;
    animation:loader .75s linear infinite;


  border: 16px solid #F0E68C; /* Light grey */
  border-top: 16px solid #3682E6; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}   

.btn-secondary {
    color: #fff;
    background-color: #6c757d00;
    border-color: #6c757d00;
}